.container {
  max-width: 1200px;
  margin: 0 auto;

  // Underline
  .underline {
    margin-top: 0px;
  }

  // Calendar Header
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .selected-date {
      .date-display {
        font-size: 1.25rem;
        font-weight: bold;
      }

      .day-display {
        font-size: 0.9rem;
        color: gray;
      }
    }

    .calendar-date-picker {
      width: 300px;

      .input-group {
        display: flex;

        input[type="date"] {
          width: 100%;
          padding: 8px;
          border: 1px solid #ced4da;
          border-radius: 4px;
          font-size: 1rem;
        }
      }
    }
  }

  // Calendar Grid
  .calendar-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 8px;

    .hour-slot-wrapper {
      display: flex;
      align-items: flex-start;
      position: relative;

      .hour-label {
        width: 12px; // Fixed width for hour labels
        margin-right: 8px;
        font-size: 14px;
        font-weight: bold;
        text-align: right;
        line-height: 15px; // Align with slot height
      }

      .hour-slot {
        flex-grow: 1;
        background-color: #73c7d5;
        border: 1px solid #d0e0e3;
        height: 60px; // Height for each hour slot
        position: relative;
      }

        // Meeting Styling
        // .meeting {
        //   position: absolute;
        //   z-index: 1;
        //   background-color: #f0f0f0;
        //   border: 1px solid #a9a9a9;
        //   opacity: 0.1;
        //   font-size: 8px;
        //   width: calc(100% - 300px);
        //   left: 10px; // Small left padding
        //   padding: 4px;
        //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        //   border-radius: 4px;

        //   .meeting-label {
        //     font-size: 13px;
        //     font-weight: bold;
        //   }

        //   .meeting-attendees {
        //     font-size: 11px;
        //     color: #555;

        //     span {
        //       display: inline;
        //     }
        //   }
        // }
      }
    }

    .meeting {
        position: absolute;
        margin-left: 20px;
        z-index: 1;
        background-color: #f0f0f0;
        border: 1px solid #a9a9a9;
        opacity: 0.85;
        font-size: 8px;
        padding: 4px;

        .meeting-label {
          font-size: 13px;
          font-weight: bold;
        }

        .meeting-attendees {
          font-size: 11px;
          color: #555;

          span {
            display: inline;
          }
        }
      }
  }

  // Media Query for Mobile View
  @media (max-width: 768px) {
    .calendar-header {
      flex-direction: column;

      .calendar-date-picker {
        width: 100%;
        margin-top: 10px;
      }
    }

    .calendar-grid {
      .hour-slot-wrapper {
        flex-direction: column;

        .hour-label {
          width: 100%;
          text-align: left;
          margin-bottom: 4px;
          line-height: normal;
        }

        .hour-slot {
          flex-grow: 1;
          background-color: #73c7d5;
          border: 1px solid #d0e0e3;
          height: 60px; // Height for each hour slot
          position: relative;
        }
      }
    }
  }

